{{> header}}
<style>
    #pwd,
    #pwd1,
    #pwd2 {
        padding-right: 32px;
    }

    .bg_icon {
        display: flex;
        align-items: center;
        position: absolute;
        right: 10px;
        top: 12px;
        z-index: 100;
    }

    .mic {
        font-size: 18px;
    }
</style>
<div class="content-pwdrecovey" style="margin-top: 59px;">
    <div class="container-fgpwd">
        <p class="title-fgpwd">CHANGE PASSWORD</p>
        <p class="subtitle-fgpwd"><b>{{email}}</b></p>
        <form class="fill-place-fgpwd" method="post" action="/user/change-password">
            <div>
                <label class="text-title-form" for="pwd">Current Password</label><br>
                <div style="position: relative;padding-top: 0;">
                    <input id="pwd" class="site-ui-input" type="password" placeholder="New Password" name="pwd">
                    <div class="bg_icon" style="padding-top: 0;"><i class="far fa-eye mic" id="p"></i></i></div>
                </div>
            </div>
            <div>
                <label class="text-title-form" for="pwd">New Password</label><br>
                <div style="position: relative;padding-top: 0;">
                    <input id="pwd1" class="site-ui-input" type="password" placeholder="New Password" name="pwd1">
                    <div class="bg_icon" style="padding-top: 0;"><i class="far fa-eye mic" id="p1"></i></i></div>
                </div>
            </div>
            <div>
                <label class="text-title-form" for="pwd">Confirm New Password</label><br>
                <div style="position: relative;padding-top: 0;">
                    <input id="pwd2" class="site-ui-input" type="password" placeholder="Confirm New Password" name="pwd2">                        
                    <div class="bg_icon" style="padding-top: 0;"><i class="far fa-eye mic" id="p2"></i></i></div>
                </div>
            </div>
            {{#if alert}}
            <div class="alert alert-danger my-3">
                {{alert}}
            </div>
            {{/if}}
            <div id="pwd-kok" class="text-danger font-weight-bolder" hidden>Mật khẩu xác nhận không trùng khớp!</div>
            <div id="pwd-ok" class="text-success font-weight-bolder" hidden>Mật khẩu xác nhận đã trùng khớp</div>
            <div style="text-align: center;">
                <button class="btn-fgpwd" type="submit">
                    <p style="color: #FFFFFF; margin: 0;">Change Password</p>
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    $('.mic').click(function () {
        if ($(this).attr('class').includes('far fa-eye mic')) {
            $(this).attr('class', 'far fa-eye-slash mic')
            if ($(this).attr('id') === 'p1') {
                $('#pwd1').attr('type', 'text');
            } else if($(this).attr('id') === 'p2') {
                $('#pwd2').attr('type', 'text');
            } else {
                $('#pwd').attr('type', 'text');
            }
        } else {
            $(this).attr('class', 'far fa-eye mic')
            if ($(this).attr('id') === 'p1') {
                $('#pwd1').attr('type', 'password');
            } else if($(this).attr('id') === 'p2') {
                $('#pwd2').attr('type', 'password');
            } else {
                $('#pwd').attr('type', 'password');
            }
        }
    })

    $('#pwd1, #pwd2').on('input', (e) => {
        if($('#pwd2').val() === '' || $('#pwd1').val() === '') {
            $('#pwd-ok').prop('hidden', true)
            $('#pwd-kok').prop('hidden', true)
        }
        else if ($('#pwd2').val() === $('#pwd1').val()) {
            $('#pwd-ok').prop('hidden', false)
            $('#pwd-kok').prop('hidden', true)
        } else {
            $('#pwd-ok').prop('hidden', true)
            $('#pwd-kok').prop('hidden', false)
        }
    })
</script>