{{> header}}
<div class="content-fgpwd">
    <div class="container-fgpwd">
        <p class="title-fgpwd">FORGOT PASSWORD</p>
        <p class="subtitle-fgpwd">Type your email here to recovery</p>
        <form novalidate class="fill-place-fgpwd" method="post" action="">
            <div>
                <label class="text-title-form" for="email">Email</label><br>
                <input class="site-ui-input" type="email" placeholder="Email Address" name="email" value="{{email}}">
            </div>
            {{#if msg}}
                <div class="alert alert-danger my-3">
                    {{msg}}
                </div>
            {{/if}}
            {{#if sent}}
                <div class="alert alert-success my-3">
                    {{sent}}
                </div>
            {{/if}}
            <div style="text-align: center;">
                <button class="btn-fgpwd" type="submit">
                    <p style="color: #FFFFFF; margin: 0;">Email Verification</p>
                </button>
            </div>
        </form>
    </div>
</div>