<!-- footer -->
<div class="footer">
    <div id="container_footer">
        <div id="container_footer_left">
            <h5>Quick link</h5>
            <div>Home</div>
            <div>Services</div>
            <div>About us</div>
            <div>Contact</div>
        </div>
        <div id="container_footer_center">
            <h4>GET IN TOUCH</h4>
            <div class="desc_footer_container">
                <p class="desc_footer">Phone: 0832440902</p>
                <p class="desc_footer">Email: tdq1711@gmail.com</p>
                <p class="desc_footer">19 Nguyen Huu Tho, Tan Phong, District 7, Ho Chi Minh City</p>
            </div>
        </div>
        <div id="container_footer_right">
            <h5>Useful</h5>
            <div>Privacy policy</div>
            <div>Legal</div>
            <div>FAQ</div>
            <div>Blogs</div>
        </div>
    </div>
    <div id="hr_item"></div>
    <div id="container_footer_end">
        <div id="container_left"></div>
        <div id="text_footer_end">&copy;Copyright QHTN</div>
        <div id="container_ic_social">
            <i class="fa-brands fa-twitter"></i>
            <i style="margin: 0 12px;" class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
    </div>
</div>